header div{
    text-align: center;
}
h1{
    background-color: lightgray;
    color: rgb(0,86,119);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
h2{
    background-color: lightgray;
    color: rgb(0,86,119);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;  
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    font-weight: bold;
    font-style: italic;
}
dt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    font-weight: bold;
}
dd{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
}
footer section{
    text-align: center;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    background-color: rgb(0,86,119);
    color: white;
}